# see /Applications/sioyek.app/Contents/MacOS/prefs.config for last release config options
# see sioyek/pdf_viewer/config.cpp from line ~890 for all current config options

# minimal UI & maximize window
startup_commands toggle_titlebar maximize

# popup window, e.g. when shift-clicking link
overview_size 0.9 0.9

# status bar, default is:
# status_bar_format [ %{current_page} / %{num_pages} ]%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{highlight}%{freehand_drawing}%{rect_select}%{custom_message}%{tts_status}%{tts_rate}
status_bar_format %{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{freehand_drawing}%{rect_select}%{custom_message}
right_status_bar_format %{current_page}/%{num_pages} 
