[user]
	name = Jannis Baum
	email = jannis.baum@gmail.com
	signingkey = 33123BD6B90C2ABE1F65458C83A762901EDF3042

[core]
	excludesfile = /Users/jannisbaum/.gitignore_global
	editor = 'vim'
	pager = $HOME/.bin/vim-ansi-pager

[alias]
    tree = log --oneline --reverse

[pull]
	rebase = true

[push]
	autosetupremote = true

[init]
	defaultBranch = main

[diff]
	tool = vimdiff

[difftool]
	prompt = false
    trustExitCode = true

[commit]
	gpgsign = true

[tag]
    forceSignAnnotated = true
