[submodule ".synapse/modules/unicode"]
	path = home/.synapse/modules/unicode
	url = https://github.com/jannis-baum/synapse-unicode.git
[submodule ".synapse/modules/cas"]
	path = home/.synapse/modules/math
	url = https://github.com/jannis-baum/synapse-cas.git
[submodule ".synapse/modules/control-center"]
	path = home/.synapse/modules/control-center
	url = https://github.com/jannis-baum/synapse-control-center.git
[submodule ".synapse/modules/app-search"]
	path = home/.synapse/modules/app-search
	url = https://github.com/jannis-baum/synapse-app-search.git
[submodule ".synapse/modules/keychain"]
	path = home/.synapse/modules/keychain
	url = https://github.com/jannis-baum/synapse-keychain.git
[submodule ".synapse/modules/pkill"]
	path = home/.synapse/modules/pkill
	url = https://github.com/jannis-baum/synapse-pkill.git
[submodule ".synapse/modules/safari-histmarks"]
	path = home/.synapse/modules/safari-histmarks
	url = https://github.com/jannis-baum/synapse-safari-histmarks.git
[submodule ".synapse/modules/safari-tabs"]
	path = home/.synapse/modules/safari-tabs
	url = https://github.com/jannis-baum/synapse-safari-tabs.git
[submodule ".synapse/modules/timer"]
	path = home/.synapse/modules/timer
	url = https://github.com/jannis-baum/synapse-timer.git
[submodule ".lib/nosync/cookie-cleaner"]
	path = lib/cookie-cleaner
	url = https://github.com/jannis-baum/cookie-cleaner.git
[submodule ".lib/markup-export"]
	path = home/.lib/markup-export
	url = https://github.com/jannis-baum/markup-export.git
[submodule ".lib/nosync/Synapse"]
	path = lib/Synapse
	url = https://github.com/jannis-baum/synapse.git
[submodule ".zsh/scripts/plugins/git.zsh-dotfiles"]
	path = config/zsh/plugins/git.zsh-dotfiles
	url = https://github.com/jannis-baum/git.zsh-dotfiles.git
[submodule ".zsh/plugins/sync-dotfiles.zsh"]
	path = config/zsh/plugins/sync-dotfiles.zsh
	url = https://github.com/jannis-baum/sync-dotfiles.zsh.git
[submodule ".zv/plugins/si-vim.zsh"]
	path = config/zv/plugins/si-vim.zsh
	url = https://github.com/jannis-baum/si-vim.zsh.git
[submodule ".zv/plugins/fzf-dotfiles"]
	path = config/zv/plugins/fzf-dotfiles
	url = https://github.com/jannis-baum/fzf-dotfiles.git
[submodule ".vim/pack/plugins/opt/vivify.vim"]
	path = config/nvim/pack/plugins/opt/vivify.vim
	url = https://github.com/jannis-baum/vivify.vim.git
[submodule ".lib/nosync/color-schemes/chameleon"]
	path = lib/color-schemes/chameleon
	url = https://github.com/jannis-baum/Chameleon.git
[submodule ".zsh/plugins-other/fzf-tab-completion"]
	path = config/zsh/plugins-other/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
[submodule ".synapse/modules/clipboard"]
	path = home/.synapse/modules/clipboard
	url = https://github.com/jannis-baum/synapse-clipboard.git
[submodule ".synapse/modules/switcher"]
	path = home/.synapse/modules/switcher
	url = https://github.com/jannis-baum/synapse-switcher.git
[submodule ".synapse/modules/kitty-tabs"]
	path = home/.synapse/modules/kitty-tabs
	url = https://github.com/jannis-baum/synapse-kitty-tabs.git
[submodule "config/nvim/pack/plugins/opt/jupyviv.nvim"]
	path = config/nvim/pack/plugins/opt/jupyviv.nvim
	url = https://github.com/jannis-baum/jupyviv.nvim.git
