[submodule ".vim/pack/plugins/opt/pandoc-syntax"]
	path = .vim/pack/plugins/opt/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule ".vim/pack/plugins/opt/coc"]
	path = .vim/pack/plugins/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule ".vim/pack/plugins/opt/fugitive"]
	path = .vim/pack/plugins/opt/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/opt/ultisnips"]
	path = .vim/pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/plugins/opt/slime"]
	path = .vim/pack/plugins/opt/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/pack/plugins/opt/dart-vim-plugin"]
	path = .vim/pack/plugins/opt/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule ".vim/pack/plugins/opt/auto-pairs"]
	path = .vim/pack/plugins/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".synapse/modules/unicode"]
	path = .synapse/modules/unicode
	url = https://github.com/jannis-baum/synapse-unicode.git
[submodule ".synapse/modules/cas"]
	path = .synapse/modules/cas
	url = https://github.com/jannis-baum/synapse-cas.git
[submodule ".synapse/modules/control-center"]
	path = .synapse/modules/control-center
	url = https://github.com/jannis-baum/synapse-control-center.git
[submodule ".synapse/modules/app-search"]
	path = .synapse/modules/app-search
	url = https://github.com/jannis-baum/synapse-app-search.git
[submodule ".synapse/modules/keychain"]
	path = .synapse/modules/keychain
	url = https://github.com/jannis-baum/synapse-keychain.git
[submodule ".synapse/modules/pkill"]
	path = .synapse/modules/pkill
	url = https://github.com/jannis-baum/synapse-pkill.git
[submodule ".synapse/modules/safari-histmarks"]
	path = .synapse/modules/safari-histmarks
	url = https://github.com/jannis-baum/synapse-safari-histmarks.git
[submodule ".synapse/modules/safari-tabs"]
	path = .synapse/modules/safari-tabs
	url = https://github.com/jannis-baum/synapse-safari-tabs.git
[submodule ".synapse/modules/timer"]
	path = .synapse/modules/timer
	url = https://github.com/jannis-baum/synapse-timer.git
[submodule ".zsh/scripts/plugins/time-tracker"]
	path = .zsh/plugins/time-tracker
	url = https://github.com/jannis-baum/time-tracker.git
[submodule ".lib/nosync/cookie-cleaner"]
	path = .lib/nosync/cookie-cleaner
	url = https://github.com/jannis-baum/cookie-cleaner.git
[submodule ".lib/markup-export"]
	path = .lib/markup-export
	url = https://github.com/jannis-baum/markup-export.git
[submodule ".lib/nosync/Synapse"]
	path = .lib/nosync/Synapse
	url = https://github.com/jannis-baum/synapse.git
[submodule ".zsh/scripts/plugins/git.zsh-dotfiles"]
	path = .zsh/plugins/git.zsh-dotfiles
	url = https://github.com/jannis-baum/git.zsh-dotfiles.git
[submodule ".zsh/plugins/sync-dotfiles.zsh"]
	path = .zsh/plugins/sync-dotfiles.zsh
	url = https://github.com/jannis-baum/sync-dotfiles.zsh.git
[submodule ".zv/plugins/si-vim.zsh"]
	path = .zv/plugins/si-vim.zsh
	url = https://github.com/jannis-baum/si-vim.zsh.git
[submodule ".vim/pack/plugins/opt/vim-commentary"]
	path = .vim/pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".zv/plugins/fzf-dotfiles"]
	path = .zv/plugins/fzf-dotfiles
	url = https://github.com/jannis-baum/fzf-dotfiles.git
[submodule ".vim/pack/plugins/opt/vivify.vim"]
	path = .vim/pack/plugins/opt/vivify.vim
	url = https://github.com/jannis-baum/vivify.vim.git
[submodule ".lib/nosync/color-schemes/chameleon"]
	path = .lib/nosync/color-schemes/chameleon
	url = https://github.com/jannis-baum/Chameleon.git
[submodule ".vim/pack/plugins/opt/quick-scope"]
	path = .vim/pack/plugins/opt/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule ".zsh/plugins-other/fzf-tab-completion"]
	path = .zsh/plugins-other/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
[submodule ".vim/pack/plugins/opt/copilot.vim"]
	path = .vim/pack/plugins/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule ".vim/pack/plugins/opt/jupyviv.vim"]
	path = .vim/pack/plugins/opt/jupyviv.vim
	url = https://github.com/jannis-baum/jupyviv.vim
[submodule ".synapse/modules/clipboard"]
	path = .synapse/modules/clipboard
	url = https://github.com/jannis-baum/synapse-clipboard.git
