[user]
	name = Jannis Baum
	email = jannis.baum@gmail.com

[core]
	excludesfile = /Users/jannisbaum/.gitignore_global
	editor = 'vim'
	pager = $HOME/.bin/vim-ansi-pager

[alias]
    tree = log --oneline --reverse
    d = difftool

[pull]
	rebase = true

[init]
	defaultBranch = main

[diff]
	tool = vimdiff
[difftool]
	prompt = false
    trustExitCode = true

